@page "/about"

<div class="heading">
    <h3>about us</h3>
    <p><NavLink href=""><a>home</a></NavLink><span>/about</span></p>
</div>



<section class="about">
    <div class="row">
        <div class="image">
            @*<img src="https://ibb.co/w7g6tG9" alt="Alternate Text" />*@
            <a class="img-about" href="https://ibb.co/wLGTNgd"><img src="https://i.ibb.co/H2w0D4K/e36bf2f4-ba14-4952-bb17-02dc6e8f6c0f.jpg" alt="e36bf2f4-ba14-4952-bb17-02dc6e8f6c0f" border="0"></a>
        </div>
        
        <div class="content">
            <h3>why choose us?</h3>
            <p>Choose us for a delectable experience! Our food shop promises fresh, flavorful ingredients, diverse menu options, and impeccable service. Elevate your culinary journey with us – satisfaction guaranteed</p>
            <NavLink>
                <a class="btn-own">our menu</a>
            </NavLink>
        </div>

    </div>
</section>

@*steps section starts*@

<section class="steps">
    <h1 class="title">simple steps</h1>

    <div class="box-container">
        <div class="box">
            <a class="img-about" href="https://imgbb.com/">
                <img src="https://i.ibb.co/Jcm4dqS/step-1.png" alt="step-1" border="0">
            </a>
            <h3>choose order</h3>
            <p>Choose dishes and make order</p>
        </div>

        <div class="box">
            <a class="img-about" href="https://imgbb.com/">
                <img src="https://i.ibb.co/3RdcPZB/step-2.png" alt="step-2" border="0">
            </a>
            <h3>fast delivery</h3>
            <p>Swift delivery: Enjoy your order promptly!</p>
        </div>

        <div class="box">
            <a href="https://imgbb.com/">
                <img src="https://i.ibb.co/9tpT1B0/step-3.png" alt="step-3" border="0">
            </a>
            <h3>enjoy food</h3>
            <p>Savor the delight: Relish every bite!</p>
        </div>
    </div>
</section>


@*reviews section*@

<section class="reviews">
    <h1 class="title">customer`s reviews</h1>

    <div class="reviews-slider">
        <div class="w">

            <div class="slide">
                <a href="https://imgbb.com/"><img src="https://i.ibb.co/1mMVJ6p/pic-1.png" alt="pic-1" border="0"></a>
                <p>Exceptional experience! Delicious food, prompt service, and friendly staff. Highly recommend!</p>
                <div class="starts">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Joan Deep</h3>
            </div>

            <div class="slide">
                <a href="https://imgbb.com/"><img src="https://i.ibb.co/CMvjNhY/pic-2.png" alt="pic-2" border="0"></a>                
                <p>Outstanding! The flavors were exquisite, and the service was top-notch. A delightful dining experience; can't wait to return!</p>
                <div class="starts">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Maria Hans</h3>
            </div>

            <div class="slide">
                <a href="https://imgbb.com/"><img src="https://i.ibb.co/RpnsPNL/pic-3.png" alt="pic-3" border="0"></a>
                <p>Absolutely satisfied! From the mouthwatering dishes to the impeccable service, our dining experience was superb. Highly impressed and eager to revisit!</p>

                <div class="starts">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Mike Smith</h3>
            </div>
        </div>
    </div>
</section>