<section class="grid">
    <div class="box">
        <img src="images/email-icon.png" />
        <h3>our email</h3>
        <a href="mailto:cafeordering@gmail.com">cafeordering@gmail.com</a>
        
    </div>

    <div class="box">
        <img src="images/clock-icon.png" />
        <h3>opening hours</h3>
        <p>07:00 - 22:00</p>
    </div>
    <div class="box">
        <img src="images/map-icon.png" />
        <h3>Location</h3>
        <a href="#">UKRAINE, KIEV</a>
    </div>
    <div class="box">
        <img src="images/phone-icon.png" />
        <h3>Our number</h3>
        <a href="tel:0990654785">099-065-47-85</a>
    </div>


</section>
<div class="credit">created by <span>mr. miki dev</span> | all rights reserved!</div>

@code {

}